
.btn-primary {
    background-color: #16a6ff;
}

.game-board-container {
    width: 40vw;
}

.bingo-tile {
    min-width: 100px;
    min-height: 100px;    
}

.bingo-row {
    min-width: 500px;
    min-height: 100px;
}

