<div class="container game-board-container">
    <div class="row row-cols-5">
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
    </div>
    <div class="row row-cols-5">
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
    </div>
    <div class="row row-cols-5">
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
    </div>
    <div class="row row-cols-5">
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
    </div>
    <div class="row row-cols-5">
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
        <div class="col tile border d-flex align-items-center justify-content-center">Column</div>
    </div>
</div>
@code {

}
