# private environment variables
.env

# private justfile recipes
local.just

# IDE files
.vscode/
.vs/

# C# build stuff
artifacts/
bin/
obj/
.dotnet/
.nuget/
.packages/
.tools/

# Visual Studio stuff
*.suo
*.user
*.userosscache
*.sln.docstates
