<nav class="navbar navbar-expand-lg bg-light rounded-bottom-4 shadow">
    <div class="container-fluid">
        <a class="navbar-brand m-1" href="#">Twitch Chat Bingo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Join a Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Start a Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Settings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Help
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item disabled" href="#">How to play</a></li>
                        <li><a class="dropdown-item disabled" href="#">Credits</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled" href="#">Report an issue</a></li>
                    </ul>
                </li> 
            </ul>
            <ul class="navbar-nav ms-auto nav-pills nav-fill col-2">
                <li class="nav-item">
                    <a class="nav-link active" href="" data-bs-target="#staticBackdrop" data-bs-toggle="modal">Login with Twitch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}