<div style="font-family: CozetteVector; font-size: 18pt;" class="d-flex justify-content-center align-self-end">
    <div class="text-center" style="line-height: 2.5;">
        &lt;/&gt; with<img src="assets/img/milton.png" style="max-height: 40px; padding: 0px 10px;">by<br />
        <img src="assets/img/julia_pfp.png" style="max-height: 36px; padding: 0px 10px 2px 0px;" class="">Juliapixel and
        <img src="assets/img/vin_pfp.png" style="max-height: 36px; padding: 0px 10px 2px 0px;">VinFG1
        
    </div>
</div>

@code {

}
