@inherits LayoutComponentBase
@using bingo_frontend_wasm.Components.Common;

<div class="container">
    <div class="page">
        <div>
            <Navbar/>
            <PlaceholderModal/>
            <JoinInProgressModal/>
        </div>
        
        <main>
            <article class="content px-4">
                @Body
            </article>
            <div class="position-fixed fixed-bottom">milestone1 prototype</div>
        </main>
    </div>
</div>


