@page "/apitest"
@inject HttpClient HttpClient

<PageTitle>API</PageTitle>

<h1>API Test</h1>

Click button to test API 😮

<button class="btn btn-primary" @onclick="APIReq">Click me</button>

<p role="status">API Response: @content</p>



@code {
    private int currentCount = 0;
    private string content = "";

    private void IncrementCount()
    {
        currentCount++;
    }

    protected async Task APIReq()
    {
        var data = new TestReq();
        HttpResponseMessage? response = null;

        try
        {
            response = await HttpClient.PostAsJsonAsync<TestReq>("game/create", data);

            if (response.IsSuccessStatusCode)
            {
                content = await response.Content.ReadAsStringAsync();
            }
            else
            {
                content = "Request returned an error";
            }
        }
        catch (HttpRequestException e)
        {
            content = "HTTPClient threw an exception";
        }

    }

    public class TestReq
    {
        public string[] items { get; set; }
        public int size { get; set; }

        public TestReq()
        {
            size = 5;
            items = new string[size*size];
            
            for (int i = 0; i < items.Length; i++)
            {
                items[i] = $"item{i}";
            }
        }

    }
}
