@page "/apitest"
@inject HttpClient HttpClient

<PageTitle>API</PageTitle>
<div>
<p class="display-1">API Test</p>
<hr />
Click button to test API 👉
<button class="btn btn-primary" @onclick="APIReq">Click me</button>
</div>
<div class="pt-3" style="filter: drop-shadow(0px 0px 9px #ffffff);">
<p role="status">API Response: @content</p>
</div>


@code {
    private int currentCount = 0;
    private string content = "";

    private void IncrementCount()
    {
        currentCount++;
    }

    protected async Task APIReq()
    {
        var data = new TestReq();
        HttpResponseMessage? response = null;

        try
        {
            response = await HttpClient.PostAsJsonAsync<TestReq>("game/create", data);

            if (response.IsSuccessStatusCode)
            {
                content =  $"The API successfully created a new game with ID: {await response.Content.ReadAsStringAsync()}";
            }
            else
            {
                content = $"The API returned an error: {response.StatusCode}";
            }
        }
        catch (HttpRequestException e)
        {
            content = "HTTPClient threw an exception, there may be an issue with the backend";
        }

    }

    //This test data is hardcoded for API testing
    public class TestReq
    {
        public string[] items { get; set; }
        public int size { get; set; }

        public TestReq()
        {
            size = 5;
            items = new string[size*size];
            
            for (int i = 0; i < items.Length; i++)
            {
                items[i] = $"item{i}";
            }
        }

    }
}
