@page "/"
@using bingo_frontend_wasm.Components;

<PageTitle>Twitch Chat Bingo</PageTitle>

<div class="d-block justify-content-center align-self-end">
    <div class="text-center" style="line-height: 2.5;">
        <h1 class="display-1">Twitch Bingo</h1>
        <p class="display-1" style="font-size: 20pt">Host or play Bingo live on stream</p>
    </div><br />
    <div class="d-flex justify-content-center align-self-end">
        <div class="text-center py-5"><button type="button" class="btn btn-primary" data-bs-target="#joinGameModal" data-bs-toggle="modal">Login with Twitch</button>
        <br/>
        <p class="display-6" style="font-size:16pt; margin-top: 10px;">to host or join a game</p>
        </div>
    </div>
</div>
